h1 {
    color: #06C167;
}

.taste {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__image{
       border-radius: 50%;
       font-size: 1.5rem;
       border: 0.2rem solid #06C167 ;
       padding: 1rem; 
       cursor: pointer;
    }
    &__image:hover {
        transition: border-width 0.3s linear;
        border:0.4rem solid #06C167 ;
    }
    &__text {
        margin-top: 2rem;
        font-size: 1.2rem ;
        
    }
}

.recipe {
    display: flex;
    justify-content: center;
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 24rem;
        height: 30rem;
        border-radius: 0.8rem;
        border: 0.2rem solid #142328;
        margin: 1rem;
        padding: 0.5rem;
    }
    &__image {
        width: 10rem;
        height: 10rem;
        border-radius: 0.8rem;
    }
}
